.card {
  background: #fff;
  border-radius: 2px;
  height: 275px;
  margin: 0.5rem;
  position: relative;
  width: 275px;
  box-shadow: 0 5px 10px #000, 0 5px 10px #000;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  text-align: center;
}
.card > .img-container > img {
  height: 98%;
}
